h1{
    color: rebeccapurple;
    font-family: cursive;
}
p{
    color: crimson;
    font-family: 'Courier New', Courier, monospace;
}
ul{
    list-style-type: square;
}
ol{
    list-style-image : url('images/pointer-image.png');
}
a{
    font-family: Helvetica, sens-serif;
    text-decoration: none;
    background-color: chartreuse;
    padding: 5px;
}
a:hover{
    background-color: aqua;
    color: #ffffff;
}
#menu-bar a{
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    background-color: aquamarine; 
    padding: 5px;
}
#menu-bar a:hover{
    background-color: aqua;
    color: #ffffff;
}